/* Responsive
================================================== */
.closemenu {
  width: 40px;
  height: 40px;
  background: var(--main-color-blue);
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 50%;
  display: none;
  z-index: 999;
  color: var(--main-color-orange);
}

#triggermenu {display:none;float:right;font-size:16px;color:white;font-weight:600;text-transform:uppercase;margin:2px 0 0;padding:5px 12px;transition:all 200ms linear;background:#222;cursor: pointer}
#triggermenu:hover {background:var(--main-color-blue);color: var(--main-color-orange)}
.openmenu #triggermenu {color: #fff}
.openmenu #triggermenu:hover {color:white}

@media (max-width: 1579.98px) {
  .attraction-item {
    &:hover {
      .attraction-item-desc {
        top: 290px
      }
    }
  }
}

@media (max-width: 1460px) {
  .page-text li, p {
    font-size: 16px;
    line-height: 28px
  }

  .h2, h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .h4, h4 {
    font-size: 23px;
  }

  header {
    nav {
      ul {
        li {
          padding: 0 15px;
          height: 80px;
          a {
            font-size: 19px;
          }
          ul {
            width: 180px;
            a {
              font-size: 18px;
              padding: 6px 15px;
            }
          }
        }
      }
    }

    .col-3 {
      width: 170px;
    }
    .col-9 {
      width: calc(100% - 170px);
    }
  }

  #slider {
    .slider-apla {
      h1 {
        font-size: 40px;
        line-height: 41px;
        margin: 0;
      }
    }
  }

  .icon-box {
    height: 175px;
    img {
      width: 60px;
    }
    h3 {
      font-size: 15px;
      margin-top: 20px;
    }
  }

  section {
    padding: 50px 0;
    .section-title {
      padding-top: 37px;
      background-size: 83px auto;
    }
    .section-box {
      padding: 0 30px;
    }
  }

  section#page {
    padding: 50px 0;
  }

  #homepage-map .map-text {
    padding: 0 50px
  }
  footer {
    padding: 30px 0;
  }
  footer a, footer p {
    font-size: 16px;
    line-height: 19px;
  }

  .features-box {
    padding-left: 45px;
    margin: 15px 0 0;
    padding-bottom: 15px;
  }

  .offer h2 {
    font-size: 36px;
  }
  #ask-form {
    padding: 70px 0;
    margin: 50px 0
  }
  #distance .distance .dist-mark p {
    width: 150px;
    font-size: 16px;
    line-height: 22px;
  }
  .location-cta {
    padding: 110px 0;
  }
  .contact-box {
    margin-bottom: 50px;
    padding: 30px;
    img {
      width: 50px;
    }
  }
  .contact-box a, .contact-box p {
    font-size: 20px
  }
}

@media (max-width: 1399.98px) {
  .attraction-item {
    h3 {
      font-size: 17px;
    }
  }
  .attraction-item-desc p {
    font-size: 14px;
    line-height: 20px;
  }
  .attraction-item:hover .attraction-item-desc {
    top: 235px;
  }

  #page-header {
    height: 270px;
    .container {
      .row {
        margin-top: 90px;
      }
    }
    img {
      width: 90px
    }
    h1 {
      font-size: 32px;
    }
  }

}
/* end of 1399.98 */

@media (max-width: 1199.98px) {

}
/* end of 1199.98 */

@media (max-width: 991.98px) {

}
/* end of 991.98 */

@media (max-width: 767.98px) {

}
/* end of 767.98 */

@media (max-width: 575.98px) {

}
/* end of 575.98 */

@media (max-width: 480px) {

}
/* end of 480 */

@media (max-width: 359.98px) {

}
/* end of 359.98 */
