#slider {
    position: relative;
    padding: 0;
    .slider-apla {
        position: absolute;
        right: 50px;
        background: white;
        padding: 50px 70px 30px;
        h1 {
            font-size: 50px;
            line-height: 67px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 60px;
            line-height: 75px;
            font-weight: 600;
            margin: 0;
        }
    }
    .slider-link {
        font-size: 20px;
        color: black;
        display: block;
        margin-top: 50px;
    }
}

#note {
    position: absolute;
    width: 300px;
    height: 300px;
    background: var(--main-color-gold);
    color: white;
    font-size: 35px;
    right: 0;
    bottom: 0;
    left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
}